// fonts
$font-heading: 'Helvetica Neue LT W01_41488878';
$font-text: 'Helvetica Neue LT W01_65 Md';
$font-test: 'Helvetica Neue LT W01_71488914';
$font-test-2: 'Helvetica Neue LT W01_55 Roman';

// colors
$pink: #c70c6f;
$gelb: #dea800;
$blau: #0b0c26;