{% extends getPartial('page-design') %}

{% block PageBody %}

	<!-- Insert markup for homepage here -->

  <div class="container-fluid frontpage-teasers">
  	
  </div>

{% endblock %}

{% block PartialFooter %}
	<script>
		// Header Bilder switch
		document.addEventListener('DOMContentLoaded', function() {

			let pluginPath = '{{ plugin_path("CeresVanilla")}}/images/frontpage';
			let images = [pluginPath + '/Header-Bilder-1.jpg', pluginPath + '/Header-Bilder-2.jpg', pluginPath + '/Header-Bilder-3.jpg', pluginPath + '/Header-Bilder-4.jpg', pluginPath + '/Header-Bilder-5.jpg'];

			let randomNumber = Math.floor((Math.random() * 5));

			document.querySelector('.frontpage-teasers').style.backgroundImage = images[randomNumber];	
		});

	</script>

{% endblock %}